* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    height: 100%;
  }
  
  body {
    line-height: 1;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  
    &:before,
    &:after {
      content: '';
      content: none;
    }
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  
  button,
  input[type='button'],
  input[type='reset'],
  input[type='submit'] {
    appearance: none;
    border: none;
    background: none;
  }
  
  *:focus {
    outline: none;
  }
  
  input,
  textarea,
  select {
    margin: 0;
    padding: 0;
  }
  