#save-editor {
  .tab-content {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    
    .tab-pane {
      padding-right: 5px;
      
      &.active {
        max-height: none;
        overflow-y: visible;
        
        .json-editor-container {
          height: auto;
          min-height: 700px;
          
          .editor-content {
            min-height: 650px;
            
            .json-textarea {
              min-height: 650px;
            }
          }
        }
      }
    }
  }
} 