@use 'sass:map';
@use '../settings/tokens';

$spacing-scale: map.merge((0: 0), tokens.$spacing-tokens);

@each $name, $value in $spacing-scale {
	.m-#{$name} { margin: $value; }
	.mt-#{$name} { margin-top: $value; }
	.mr-#{$name} { margin-right: $value; }
	.mb-#{$name} { margin-bottom: $value; }
	.ml-#{$name} { margin-left: $value; }

	.p-#{$name} { padding: $value; }
	.pt-#{$name} { padding-top: $value; }
	.pr-#{$name} { padding-right: $value; }
	.pb-#{$name} { padding-bottom: $value; }
	.pl-#{$name} { padding-left: $value; }
}